
.container {
   width:100%;
   background: green;
   margin-left: auto;
   margin-right: auto;
   min-height:100%;
   postion: relative;
}

 .grid-container {
 /* background: blue; */
   float: left;
   height:100%;
   width:100%;
} 
canvas {
    background: white;
   border: solid 4px green;
   width:100%;
   height:100%;
   margin-left: auto;
   margin-right: auto;
   border-radius: 3px;
   overflow: auto;
}
